@use '../abstracts' as *;

button {
    cursor: pointer;
    color: inherit;
    background-color: inherit;
    transition: color .1s ease-in;

    &:active {
        transform: translateY(4px);
        outline: none;
    }
}

.btn-standard {
    font-size: 1.65em;
    min-width: 13.5rem;
    margin: .8rem 0 .8rem 0;
    box-shadow: $clr-black 1px 3px 15px;
    border: $clr-light-gray 2px solid;
}

.btn-control {
    font-size: 2rem;
    border: none;
}

.btn-start {
    font-size: 2.4rem;
    border: none;
    margin-bottom: 1.2rem;
}

@media (hover: hover) {
    button:hover {
        color: #fbfbfb;
    }
}
