@use '../abstracts' as *;

:modal {
    @include flex-center;
    padding: 2.2rem;
    background-color: $clr-black;
    color: $clr-light-gray;
    box-shadow: $clr-black 2px 2px 15px;
    margin: auto;
    border: none;
}
