$clr-black: #000000;
$clr-dark-gray: #181818;
$clr-light-gray: #c5c5c5;
$clr-yellow-glow: #FC0;

$ff-primary: "JetBrains Mono", monospace;
$fw-regular: 500;
$fs-regular: normal;

$typewriter-speed: .5s;
$typewriter-steps: 13;
$fade-in-speed: .5s;
