@use '../abstracts' as *;

body::before,
:modal::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: 
        linear-gradient(
            rgba(18, 16, 16, 0) 50%,
            rgba(0, 0, 0, 0.4) 50%
        ),
        linear-gradient(
            90deg,
            rgba(255, 0, 0, 0.06),
            rgba(0, 255, 0, 0.02),
            rgba(0, 0, 255, 0.06)
        );
    background-size: 100% 3px, 3px 100%;
    z-index: 2;
    pointer-events: none;
    overflow: hidden;
}

body {
    background-color: $clr-dark-gray;
}

#root {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

:modal {
    padding: 2.2rem;
    background-color: $clr-black;
    color: $clr-light-gray;
    box-shadow: $clr-black 2px 2px 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    border: none;
}
